<%- include ("./includes/header.ejs") %>

<%- include ("./includes/navbar.ejs") %>

<div class="main-body-container">
  <div class="body-container">

  <%- include ("./includes/hero.ejs") %>

  <%- include ("./includes/mini-cards.ejs") %>

  <%- include ("./includes/product-cards.ejs") %>
            
  </div>

</div>
</div>
      

<%- include ("./includes/footer.ejs") %>