<%- include ("../includes/header.ejs"); %>
<%- include ("../includes/navbar.ejs")%>

<div class="seller row card-container">
    
    <% for(listing of allListings) { %>
        <div class="card" style="width: 18rem;">
          <img src='<%= listing.images[0]  %>' class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= listing.title %></h5>
            <p>PKR <%= listing.price %></p>

            <a href="/product-edit/<%= listing._id %>" class="btn btn-primary btn-sm">Edit Listing</a>
           <br><br>
            <form method="post" action="/product-delete/<%= listing._id %>/?_method=DELETE">            <button  class="btn btn-danger btn-sm">Delete Listing</button>
            </form>
          </div>
        </div>
      <% } %>

</div>

<%- include ("../includes/footer.ejs") %>